include *.lock
include *.py
include *.txt
include *.yml
include LICENSE
include LICENSES
include Pipfile
include pylintrc
include tox.ini
recursive-include docs *.gitkeep
recursive-include docs *.py
recursive-include docs *.rst
recursive-include labelbox *.py
include labelbox/exporters/pascal_voc_writer/templates/annotation.xml
recursive-include tests *.json
recursive-include tests *.lbx
recursive-include tests *.png
recursive-include tests *.py
