[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jinja2" = "*"
pillow = "*"
requests = "*"
shapely = "*"
simplification = "*"
rasterio = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
xmltodict = "*"
check-manifest = "*"
mypy = "*"
docutils = "*"
"flake8" = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
setuptools = ">=40.2.0"
wheel = "*"
sphinx-rtd-theme = "*"
twine = "*"

[requires]
python_version = "3.6"
