[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
shapely = "*"
xmltodict = "*"
"jinja2" = "*"

[dev-packages]
tox = "*"
pytest = "*"

[requires]
python_version = "3.6"
