geojson
google-api-core>=1.22.1
imagesize
nbconvert~=7.2.6
nbformat~=5.7.0
opencv-python-headless
PILLOW
pydantic>=1.8
pygeotile
pyproj
pytest-xdist
python-dateutil>=2.8.2,<2.9.0
requests==2.31.0
shapely
tqdm
typeguard==2.13.3
typing-extensions==4.10.0
numpy
StrEnum