-i https://pypi.org/simple
affine==2.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
click-plugins==1.0.3
click==6.7
cligj==0.4.0
idna==2.7
jinja2==2.10
markupsafe==1.0
numpy==1.15.1; python_version >= '2.7'
pillow==5.2.0
pyparsing==2.2.0
rasterio==1.0.3
requests==2.19.1
shapely==1.6.4.post2
simplification==0.3.8
snuggs==1.4.2
urllib3==1.23; python_version != '3.1.*'
