-i https://pypi.org/simple/
affine==2.3.0
attrs==19.3.0
certifi==2019.9.11
chardet==3.0.4
click-plugins==1.1.1
click==7.0
cligj==0.5.0
idna==2.8
jinja2==2.10.1
markupsafe==1.1.1
numpy==1.17.3
pillow==6.2.0
pyparsing==2.4.2
rasterio==1.0.24
requests==2.22.0
shapely==1.6.4.post2
simplification==0.4.2
snuggs==1.4.7
urllib3==1.25.6
